
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 80vh;
}

#display {
    width: 100%;
    height: 40px;
    text-align: right;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-gap: 10px;
}

.calculator {
   background: #fff;
   padding: 25px;
   border-radius: 8px;
   box-shadow: 0 0 10px black;
   
}

.buttons button{
    width: 60px;
    height: 60px;
    font-size: 18px;
    background-color: #e0e0e0;
    border-radius: 4px;
    border: none;
}

#equals {
    background-color: lightgreen;

}

button:hover {
    background-color: #d5d5d5;
}

#equals:hover {
    background-color: #4caf50;
}